h1{
    color: rgb(193, 193, 21);
    font-family: 'Times New Roman', Times, serif;
    font-size: 50px;
    background-color: rgb(254, 5, 5);
}

div{
    /* width and height */

    width: 100%;
    max-width: 400px;
    height: 80%;
    
    /* fonts */

    font-size: 12px;
    font-weight: 700;
    font-family: sans-serif;

    /* border  */
border: 5px solid pink;

}