h1{
    color: rgb(193, 193, 21);
    font-family: 'Times New Roman', Times, serif;
    font-size: 50px;
    background-color: rgb(254, 5, 5);
}



div{
    width: 100%;
    max-width: 400px;

    height: 80%;
    background-color: rgb(28, 188, 228);
}