#head1 {

 width: 500px;
 border: 8px solid rgb(221, 0, 37);
 background-color: beige;

 /* adding padding  */
padding: 50px;
margin: 10px 15px 10px 15px;
box-sizing: border-box;




    color: rebeccapurple;

    font-family: 'Times New Roman', Times, serif;
    font-size: 200;
  }